
<div  class="bg">
    <div class="container">
        <div class="card card-blur" style="width: 24rem; margin-top: 30rem;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 ">What's your opinion on</h6>
            <h1 class="card-title banner-card-title">Pope Francis?</h1>
            <p class="card-text">
                He's talking tough on clery sexual abuse,
                but is he just another papal pervert
                protector? (thumbs dowm) or a true
                pedophile punishing pontiff? (thumbs up)
            </p>
            <br>
            <h6 class="card-subtitle mb-2"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> More information</h6>
            <br>
            <h5 class="card-subtitle mb-2 ">What's Your Veredict?</h5>
          
          </div>
          <div style="display: flex">
            <div class="up">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </div>
            <div class="dowm">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </div>
          </div>
        </div>
    </div>
</div> 


<div class="container mt-5">
    <div class="row">

        <div class="col-md-12">
            <div class="alert alert-primary" role="alert">
                <div class="row">
                  <div class="col-md-4">
                      asd
                  </div>
                  <div class="col-md-6">
                      asd
                  </div>
                  <div class="col-md-2">
                   <i style="float: right" class="fa fa-times" aria-hidden="true"></i>
                  </div>
                </div>
                
            </div>
        </div>

    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
          <div class="card page-title-are bg-card01">
            <div class="card-body" style="margin-top: 23em; z-index: 2;">
            
              <div>
              <span style="
                    position: relative;
                    margin-top: 1.3em;
                    right: 1.3em;" class="float-left">
                    <a href="#" class="card-link selec-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a></span> <h1 class="card-title banner-card-title">Kanye West</h1>
              </div>
              <h6 class="card-subtitle mb-2"><strong>1 month ago</strong> Entertaiment</h6>
              <p class="card-text">
                  Vestibulum diam ante, porttitor a odio aget, rhoncus
                  neque. aenean eu veliot libero
              </p>
              
              <a href="#" class="card-link selec-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
              <a href="#" class="card-link selec-dowm"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
              <input style="    
              color: white;
              border: white solid 1px;
              background-color: #00000040;
              height: 3em;
              width: 6em;" class="ml-3" type="button" name="Vote now" value="Vote now">
            </div>
            <div class="rating-bar">
              <div class="votes up-votes" style="width: calc(100% / ((9 + 4) / 9))">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 9 %
              </div>
              <div class="votes down-votes" style="width: calc(100% / ((9 + 4) / 4))">
                4 % <i class="fa fa-thumbs-down" aria-hidden="true"></i>   
              </div>
            </div>
         </div>
        </div>
        <div class="col-md-6">
          <div class="card page-title-are bg-card02">
            <div class="card-body" style="margin-top: 23em; z-index: 2;">
            
              <div>
              <span style="
                    position: relative;
                    margin-top: 1.3em;
                    right: 1.3em;" class="float-left">
                    <a href="#" class="card-link selec-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a></span> <h1 class="card-title banner-card-title">Kanye West</h1>
              </div>
              <h6 class="card-subtitle mb-2"><strong>1 month ago</strong> Entertaiment</h6>
              <p class="card-text">
                  Vestibulum diam ante, porttitor a odio aget, rhoncus
                  neque. aenean eu veliot libero
              </p>
              
              <a href="#" class="card-link selec-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
              <a href="#" class="card-link selec-dowm"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
              <input style="    
              color: white;
              border: white solid 1px;
              background-color: #00000040;
              height: 3em;
              width: 6em;" class="ml-3" type="button" name="Vote now" value="Vote now">
            </div>
            <div class="rating-bar">
              <div class="votes up-votes" style="width: calc(100% / ((9 + 4) / 9))">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 9 %
              </div>
              <div class="votes down-votes" style="width: calc(100% / ((9 + 4) / 4))">
                4 % <i class="fa fa-thumbs-down" aria-hidden="true"></i>   
              </div>
            </div>
         </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
          <div class="card page-title-are bg-card03">
            <div class="card-body" style="margin-top: 23em; z-index: 2;">
            
              <div>
              <span style="
                    position: relative;
                    margin-top: 1.3em;
                    right: 1.3em;" class="float-left">
                    <a href="#" class="card-link selec-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a></span> <h1 class="card-title banner-card-title">Kanye West</h1>
              </div>
              <h6 class="card-subtitle mb-2"><strong>1 month ago</strong> Entertaiment</h6>
              <p class="card-text">
                  Vestibulum diam ante, porttitor a odio aget, rhoncus
                  neque. aenean eu veliot libero
              </p>
              
              <a href="#" class="card-link selec-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
              <a href="#" class="card-link selec-dowm"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
              <input style="    
              color: white;
              border: white solid 1px;
              background-color: #00000040;
              height: 3em;
              width: 6em;" class="ml-3" type="button" name="Vote now" value="Vote now">
            </div>
            <div class="rating-bar">
              <div class="votes up-votes" style="width: calc(100% / ((9 + 4) / 9))">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 9 %
              </div>
              <div class="votes down-votes" style="width: calc(100% / ((9 + 4) / 4))">
                4 % <i class="fa fa-thumbs-down" aria-hidden="true"></i>   
              </div>
            </div>
         </div>
        </div>
        <div class="col-md-6">
          <div class="card page-title-are bg-card04">
            <div class="card-body" style="margin-top: 23em; z-index: 2;">
            
              <div>
              <span style="
                    position: relative;
                    margin-top: 1.3em;
                    right: 1.3em;" class="float-left">
                    <a href="#" class="card-link selec-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a></span> <h1 class="card-title banner-card-title">Kanye West</h1>
              </div>
              <h6 class="card-subtitle mb-2"><strong>1 month ago</strong> Entertaiment</h6>
              <p class="card-text">
                  Vestibulum diam ante, porttitor a odio aget, rhoncus
                  neque. aenean eu veliot libero
              </p>
              
              
              <button (click)="selectVoto(true)" type="button" class="btn-new btn  selec-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
              <button (click)="selectVoto(false)"type="button" class="btn-new btn  selec-dowm ml-2"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
        
              <input (click)="votar()" style="    
              color: white;
              border: white solid 1px;
              background-color: #00000040;
              height: 3em;
              width: 6em;" class="ml-3" type="button" name="Vote now" value="Vote now">
           </div>
            <div class="rating-bar">
              <div class="votes up-votes"  id="up-votes">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{porcentUp}} %
              </div>
              <div class="votes down-votes" id="down-votes">
              {{porcentDown}} % <i class="fa fa-thumbs-down" aria-hidden="true"></i>   
              </div>
            </div>
         </div>
        </div>
    </div>
</div>


